@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

/* Global default styles for Yeep */
a {
  @apply text-blue;
}
a:hover {
  text-decoration: none;
  @apply text-blue-dark;
}

/* Buttons */
.btn {
  @apply border border-blue bg-blue text-white font-bold py-2 px-4 rounded;
  text-decoration: none;
  line-height: 1.5;
}
.btn:hover {
  @apply bg-blue-dark text-white;
}
.btn-secondary {
  @apply border border-blue text-blue font-bold py-2 px-4 rounded;
  text-decoration: none;
  line-height: 1.5;
}
.btn-secondary:hover {
  @apply bg-grey-light;
}
a.btn,
a.btn-secondary {
  display: inline-block;
}

/* Form elements: fieldset */
fieldset {
  @apply border border-grey p-8;
  position: relative;
}
legend {
  @apply px-3 font-bold;
  display: block;
  position: absolute;
  background: white;
  top: -0.8rem;
  left: 1.2rem;
}

/* input eleents */
input[type='text'],
input[type='password'],
textarea,
select {
  @apply border border-grey p-2 rounded w-full;
  line-height: 1.5;
  display: block;
}
select {
  /* For select elements we need to also change the height to match the textfields */
  height: 42px;
}

/* Form layout */
.form-group label {
  @apply mb-1;
  display: block;
}
.form-group .valid,
.form-group .invalid,
.form-group .neutral {
  @apply text-sm text-grey-dark;
}
.form-group .valid {
  @apply text-green-dark;
}
.form-group .invalid {
  @apply text-red;
}
@screen sm {
  /*
        From the mobile breakpoint and upwards we'll change the 
        label+input layout to be side by side.
    */
  .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .form-group label {
    @apply mb-0;
    flex: 0 0 25%;
    display: block;
    /* We need the line height to be the same as the height of a "default" form element,
    i.e. a text field. That is 42 pixels */
    line-height: 2.6rem;
  }
  .form-group input[type='text'],
  .form-group input[type='password'],
  .form-group select {
    width: 50%;
  }
  .form-group textarea {
    flex: 1 1 75%;
  }
  .form-group .valid,
  .form-group .invalid,
  .form-group .neutral {
    flex: 1 1 100%;
    margin-left: 25%;
  }
  .form-submit {
    margin-left: 25%;
  }
}

/* Grid table */
.grid-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: calc(100vw - 2rem);
}
.grid {
  width: 100%;
  @apply border-collapse border-b border-grey;
}
.grid th {
  @apply border-grey border-t border-b p-2 font-normal;
}
.grid tbody tr:nth-child(odd) {
  @apply bg-grey-lightest;
}
.grid td {
  @apply p-2;
}
/* Grid pagination links */
.grid-pager {
  @apply list-reset ml-auto whitespace-no-wrap;
}
.grid-pager p {
  display: block;
}
.grid-pager li {
  @apply px-2;
  display: inline-block;
}

/* Grid heading (text and pagination) */
.grid-header {
  @apply py-2;
  text-align: center;
}
@screen sm {
  .grid-header {
    display: flex;
    text-align: left;
  }
}
/*
  Grid footer (per page control and pagination)
  We'll use flexbox to ensure the pager comes first in mobile viewports
  and on larger viewports we'll revert to the normal layout
*/
.grid-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  @apply py-2;
}
.grid-per-page {
  order: 2;
}
.grid-per-page select {
  display: inline-block;
  @apply ml-3;
}
.grid-footer select {
  width: auto;
}
.grid-footer .grid-pager {
  order: 1;
  margin-left: 0;
  @apply pb-3;
}
@screen sm {
  .grid-footer {
    flex-direction: row;
  }
  .grid-per-page {
    order: 1;
  }
  .grid-footer .grid-pager {
    order: 2;
    margin-left: auto;
    @apply pb-0;
  }
}

/* Sorting links for the grid control */
.grid-sorting,
.grid-sorting-asc,
.grid-sorting-desc {
  text-decoration: none;
  @apply text-black;
  display: inline-block;
  padding-right: 20px;
  cursor: pointer;
}
.grid-sorting {
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==)
    no-repeat center right;
}
.grid-sorting-asc {
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==)
    no-repeat center right;
}
.grid-sorting-desc {
  background: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=)
    no-repeat center right;
}

/* Our pillboxes */
.pillbox {
  @apply rounded border-grey-dark border p-2;
  display:inline-block;
  cursor:pointer;
}
.pillbox input {
  cursor:pointer;
}
.pillbox:hover {
  @apply bg-grey-light;
}
.pillbox-checked {
  @apply bg-blue-lightest border-blue;
}
.pillbox-checked:hover {
  @apply bg-blue-light;
}