@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  /*@apply antialiased;*/
}

/* Global default styles for Yeep */
a {
  @apply text-blue;
}
a:hover {
  text-decoration: none;
  @apply text-blue-dark;
}

/* Adding the Yeep glyph to the logo area */
.yeep-logo {
  @apply text-lg;
  padding-left: 38px;
  min-height: 40px;
  line-height: 40px;
  display: block;
  background: url('../public/yeep-logo-white.svg') no-repeat left center;
}
@screen sm {
    .yeep-logo {
        @apply text-2xl;
    }
}
